@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.hero {
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(rgba(4, 38, 161, 0.3),
            rgba(167, 151, 151, 0.3)),
        url(../../../images/image8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 1245px;
    margin-bottom: 0px;
    font-family: 'Montserrat';
    overflow-x: hidden;
    overflow: hidden;
}

.aboutus {
    width: 48.3vw;
    height: 1096px;
    margin-left: 440px;
    margin-top: 25px;
    background: #FFFFFF;
    border-radius: 20px;
}

.aboutus_content_top {
    position: relative;
    width: 28vw;
    height: 130px;
    left: 290px;
    top: -80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.59rem;
    line-height: 15px;

    color: #808080;
}

.aboutus_info {
    position: relative;
    width: 40vw;
    height: 70px;
    left: 65px;
    top: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.37rem;
    line-height: 30px;

    background: linear-gradient(180deg, #3DB1EC 0%, #62D1E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutus_content_center {
    position: relative;
    width: 40vw;
    height: 130px;
    left: 65px;
    top: -15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.58rem;
    line-height: 15px;

    color: #808080;
}

.aboutus_content_bottom {
    position: relative;
    width: 588px;
    height: 34px;
    left: 65px;
    top: -220px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 15px;

    color: #717171;
}

.us {
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    left: 80px;
    top: 50px;
    width: 148px;
    height: 104px;
    background-image: url(../../../images/Group639.svg);
}

.font{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.55rem;
    line-height: 14.6px;
    width: 35vw;
    color: #717171;
    position: relative;
    top: -390px;
    left: 30px;
}

.year{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 0.58rem;
}

.cookie{
    position: relative;
    top: -380px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 15px;
    color: #717171;
}

.buttonlink {
    font-family: 'Montserrat';
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: -350px;
    width: 187px;
    height: 31px;
    background: linear-gradient(89.87deg, #E27582 0.1%, #EAA07B 99.88%);
    border-radius: 15.5px;
    border: none;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='187' height='31' viewBox='0 0 187 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='187' height='31' rx='15.5' fill='url(%23paint0_linear_744_859)'/%3E%3Cpath d='M47.612 18.136V12.184H44.732L44.696 13.408C44.672 13.928 44.636 14.42 44.588 14.884C44.548 15.348 44.484 15.772 44.396 16.156C44.308 16.532 44.192 16.852 44.048 17.116C43.912 17.38 43.74 17.568 43.532 17.68L41.456 17.416C41.744 17.424 41.98 17.324 42.164 17.116C42.356 16.908 42.508 16.616 42.62 16.24C42.732 15.856 42.812 15.408 42.86 14.896C42.916 14.384 42.956 13.828 42.98 13.228L43.076 10.6H49.532V18.136H47.612ZM41.18 20.74L41.192 17.416H50.708V20.74H48.908V19H42.98V20.74H41.18ZM54.8263 19.096C54.1383 19.096 53.5263 18.952 52.9903 18.664C52.4623 18.376 52.0423 17.984 51.7303 17.488C51.4263 16.984 51.2743 16.412 51.2743 15.772C51.2743 15.124 51.4263 14.552 51.7303 14.056C52.0423 13.552 52.4623 13.16 52.9903 12.88C53.5263 12.592 54.1383 12.448 54.8263 12.448C55.5063 12.448 56.1143 12.592 56.6503 12.88C57.1863 13.16 57.6063 13.548 57.9103 14.044C58.2143 14.54 58.3663 15.116 58.3663 15.772C58.3663 16.412 58.2143 16.984 57.9103 17.488C57.6063 17.984 57.1863 18.376 56.6503 18.664C56.1143 18.952 55.5063 19.096 54.8263 19.096ZM54.8263 17.56C55.1383 17.56 55.4183 17.488 55.6663 17.344C55.9143 17.2 56.1103 16.996 56.2543 16.732C56.3983 16.46 56.4703 16.14 56.4703 15.772C56.4703 15.396 56.3983 15.076 56.2543 14.812C56.1103 14.548 55.9143 14.344 55.6663 14.2C55.4183 14.056 55.1383 13.984 54.8263 13.984C54.5143 13.984 54.2343 14.056 53.9863 14.2C53.7383 14.344 53.5383 14.548 53.3863 14.812C53.2423 15.076 53.1703 15.396 53.1703 15.772C53.1703 16.14 53.2423 16.46 53.3863 16.732C53.5383 16.996 53.7383 17.2 53.9863 17.344C54.2343 17.488 54.5143 17.56 54.8263 17.56ZM66.1243 19.096C65.4283 19.096 64.8083 18.956 64.2643 18.676C63.7203 18.388 63.2923 17.992 62.9803 17.488C62.6763 16.984 62.5243 16.412 62.5243 15.772C62.5243 15.124 62.6763 14.552 62.9803 14.056C63.2923 13.552 63.7203 13.16 64.2643 12.88C64.8083 12.592 65.4283 12.448 66.1243 12.448C66.8043 12.448 67.3963 12.592 67.9003 12.88C68.4043 13.16 68.7763 13.564 69.0163 14.092L67.5643 14.872C67.3963 14.568 67.1843 14.344 66.9283 14.2C66.6803 14.056 66.4083 13.984 66.1123 13.984C65.7923 13.984 65.5043 14.056 65.2483 14.2C64.9923 14.344 64.7883 14.548 64.6363 14.812C64.4923 15.076 64.4203 15.396 64.4203 15.772C64.4203 16.148 64.4923 16.468 64.6363 16.732C64.7883 16.996 64.9923 17.2 65.2483 17.344C65.5043 17.488 65.7923 17.56 66.1123 17.56C66.4083 17.56 66.6803 17.492 66.9283 17.356C67.1843 17.212 67.3963 16.984 67.5643 16.672L69.0163 17.464C68.7763 17.984 68.4043 18.388 67.9003 18.676C67.3963 18.956 66.8043 19.096 66.1243 19.096ZM71.5222 19V13.648L71.9422 14.08H69.3382V12.544H75.5662V14.08H72.9622L73.3822 13.648V19H71.5222ZM79.3185 19.096C78.6305 19.096 78.0185 18.952 77.4825 18.664C76.9545 18.376 76.5345 17.984 76.2225 17.488C75.9185 16.984 75.7665 16.412 75.7665 15.772C75.7665 15.124 75.9185 14.552 76.2225 14.056C76.5345 13.552 76.9545 13.16 77.4825 12.88C78.0185 12.592 78.6305 12.448 79.3185 12.448C79.9985 12.448 80.6065 12.592 81.1425 12.88C81.6785 13.16 82.0985 13.548 82.4025 14.044C82.7065 14.54 82.8585 15.116 82.8585 15.772C82.8585 16.412 82.7065 16.984 82.4025 17.488C82.0985 17.984 81.6785 18.376 81.1425 18.664C80.6065 18.952 79.9985 19.096 79.3185 19.096ZM79.3185 17.56C79.6305 17.56 79.9105 17.488 80.1585 17.344C80.4065 17.2 80.6025 16.996 80.7465 16.732C80.8905 16.46 80.9625 16.14 80.9625 15.772C80.9625 15.396 80.8905 15.076 80.7465 14.812C80.6025 14.548 80.4065 14.344 80.1585 14.2C79.9105 14.056 79.6305 13.984 79.3185 13.984C79.0065 13.984 78.7265 14.056 78.4785 14.2C78.2305 14.344 78.0305 14.548 77.8785 14.812C77.7345 15.076 77.6625 15.396 77.6625 15.772C77.6625 16.14 77.7345 16.46 77.8785 16.732C78.0305 16.996 78.2305 17.2 78.4785 17.344C78.7265 17.488 79.0065 17.56 79.3185 17.56ZM87.9501 19.096C87.4061 19.096 86.9301 18.976 86.5221 18.736C86.1141 18.496 85.7941 18.132 85.5621 17.644C85.3381 17.148 85.2261 16.524 85.2261 15.772C85.2261 15.012 85.3341 14.388 85.5501 13.9C85.7661 13.412 86.0781 13.048 86.4861 12.808C86.8941 12.568 87.3821 12.448 87.9501 12.448C88.5581 12.448 89.1021 12.588 89.5821 12.868C90.0701 13.14 90.4541 13.524 90.7341 14.02C91.0221 14.516 91.1661 15.1 91.1661 15.772C91.1661 16.452 91.0221 17.04 90.7341 17.536C90.4541 18.032 90.0701 18.416 89.5821 18.688C89.1021 18.96 88.5581 19.096 87.9501 19.096ZM84.1341 21.328V12.544H85.9221V13.864L85.8861 15.784L86.0061 17.692V21.328H84.1341ZM87.6261 17.56C87.9381 17.56 88.2141 17.488 88.4541 17.344C88.7021 17.2 88.8981 16.996 89.0421 16.732C89.1941 16.46 89.2701 16.14 89.2701 15.772C89.2701 15.396 89.1941 15.076 89.0421 14.812C88.8981 14.548 88.7021 14.344 88.4541 14.2C88.2141 14.056 87.9381 13.984 87.6261 13.984C87.3141 13.984 87.0341 14.056 86.7861 14.2C86.5381 14.344 86.3421 14.548 86.1981 14.812C86.0541 15.076 85.9821 15.396 85.9821 15.772C85.9821 16.14 86.0541 16.46 86.1981 16.732C86.3421 16.996 86.5381 17.2 86.7861 17.344C87.0341 17.488 87.3141 17.56 87.6261 17.56ZM92.4661 19V12.544H94.3381V19H92.4661ZM93.4021 11.644C93.0581 11.644 92.7781 11.544 92.5621 11.344C92.3461 11.144 92.2381 10.896 92.2381 10.6C92.2381 10.304 92.3461 10.056 92.5621 9.856C92.7781 9.656 93.0581 9.556 93.4021 9.556C93.7461 9.556 94.0261 9.652 94.2421 9.844C94.4581 10.028 94.5661 10.268 94.5661 10.564C94.5661 10.876 94.4581 11.136 94.2421 11.344C94.0341 11.544 93.7541 11.644 93.4021 11.644ZM96.1344 19V12.544H97.9944V15.064H100.802V12.544H102.674V19H100.802V16.588H97.9944V19H96.1344ZM109.038 19L106.878 15.94L108.402 15.04L111.246 19H109.038ZM104.466 19V12.544H106.338V19H104.466ZM105.786 16.552V15.052H108.042V16.552H105.786ZM108.582 15.988L106.83 15.796L109.098 12.544H111.09L108.582 15.988ZM112.166 19V12.544H114.026V16.384L117.17 12.544H118.886V19H117.026V15.16L113.894 19H112.166ZM124.084 19V12.544H130.504V19H128.632V13.66L129.052 14.08H125.524L125.944 13.66V19H124.084ZM135.322 19.096C134.634 19.096 134.022 18.952 133.486 18.664C132.958 18.376 132.538 17.984 132.226 17.488C131.922 16.984 131.77 16.412 131.77 15.772C131.77 15.124 131.922 14.552 132.226 14.056C132.538 13.552 132.958 13.16 133.486 12.88C134.022 12.592 134.634 12.448 135.322 12.448C136.002 12.448 136.61 12.592 137.146 12.88C137.682 13.16 138.102 13.548 138.406 14.044C138.71 14.54 138.862 15.116 138.862 15.772C138.862 16.412 138.71 16.984 138.406 17.488C138.102 17.984 137.682 18.376 137.146 18.664C136.61 18.952 136.002 19.096 135.322 19.096ZM135.322 17.56C135.634 17.56 135.914 17.488 136.162 17.344C136.41 17.2 136.606 16.996 136.75 16.732C136.894 16.46 136.966 16.14 136.966 15.772C136.966 15.396 136.894 15.076 136.75 14.812C136.606 14.548 136.41 14.344 136.162 14.2C135.914 14.056 135.634 13.984 135.322 13.984C135.01 13.984 134.73 14.056 134.482 14.2C134.234 14.344 134.034 14.548 133.882 14.812C133.738 15.076 133.666 15.396 133.666 15.772C133.666 16.14 133.738 16.46 133.882 16.732C134.034 16.996 134.234 17.2 134.482 17.344C134.73 17.488 135.01 17.56 135.322 17.56ZM144.554 17.464L144.146 17.896V12.544H146.018V17.896L145.586 17.464H148.562L148.142 17.896V12.544H150.002V19H140.15V12.544H142.01V17.896L141.59 17.464H144.554ZM152.674 21.424C152.338 21.424 152.006 21.372 151.678 21.268C151.35 21.164 151.082 21.02 150.874 20.836L151.558 19.504C151.702 19.632 151.866 19.732 152.05 19.804C152.242 19.876 152.43 19.912 152.614 19.912C152.878 19.912 153.086 19.848 153.238 19.72C153.398 19.6 153.542 19.396 153.67 19.108L154.006 18.316L154.15 18.112L156.466 12.544H158.266L155.35 19.396C155.142 19.916 154.902 20.324 154.63 20.62C154.366 20.916 154.07 21.124 153.742 21.244C153.422 21.364 153.066 21.424 152.674 21.424ZM153.778 19.252L150.898 12.544H152.83L155.062 17.944L153.778 19.252ZM163.742 19L161.582 15.94L163.106 15.04L165.95 19H163.742ZM159.17 19V12.544H161.042V19H159.17ZM160.49 16.552V15.052H162.746V16.552H160.49ZM163.286 15.988L161.534 15.796L163.802 12.544H165.794L163.286 15.988ZM167.381 21.424C167.045 21.424 166.713 21.372 166.385 21.268C166.057 21.164 165.789 21.02 165.581 20.836L166.265 19.504C166.409 19.632 166.573 19.732 166.757 19.804C166.949 19.876 167.137 19.912 167.321 19.912C167.585 19.912 167.793 19.848 167.945 19.72C168.105 19.6 168.249 19.396 168.377 19.108L168.713 18.316L168.857 18.112L171.173 12.544H172.973L170.057 19.396C169.849 19.916 169.609 20.324 169.337 20.62C169.073 20.916 168.777 21.124 168.449 21.244C168.129 21.364 167.773 21.424 167.381 21.424ZM168.485 19.252L165.605 12.544H167.537L169.769 17.944L168.485 19.252Z' fill='white'/%3E%3Cpath d='M26.8259 17.6083L31.8363 22.6187C31.8363 22.6187 31.8363 22.6187 31.8363 22.6187C31.8605 22.6429 31.8797 22.6716 31.8927 22.7031C31.9058 22.7347 31.9126 22.7686 31.9126 22.8027C31.9126 22.8369 31.9058 22.8708 31.8927 22.9023C31.8797 22.9339 31.8605 22.9626 31.8363 22.9867L31.8363 22.9868L30.9848 23.8363C30.9606 23.8605 30.9319 23.8797 30.9004 23.8927C30.8688 23.9058 30.835 23.9126 30.8008 23.9126C30.7666 23.9126 30.7328 23.9058 30.7012 23.8927C30.6696 23.8797 30.6409 23.8605 30.6168 23.8363C30.6168 23.8363 30.6168 23.8363 30.6168 23.8363L25.6063 18.8277C24.5844 19.5924 23.3476 20.0063 22.0469 20.0063C20.454 20.0063 18.9578 19.3863 17.8335 18.2601C16.7094 17.1359 16.0875 15.6379 16.0875 14.0469C16.0875 12.454 16.7074 10.9578 17.8336 9.83359L26.8259 17.6083ZM26.8259 17.6083C27.5925 16.5863 28.0063 15.3476 28.0063 14.0469C28.0063 12.4538 27.3843 10.9597 26.2602 9.83365C25.136 8.70739 23.6378 8.0875 22.0469 8.0875C20.4559 8.0875 18.9578 8.70938 17.8336 9.83352L26.8259 17.6083ZM22.0469 18.3219C23.1883 18.3219 24.2606 17.8774 25.07 17.0698C25.8774 16.2624 26.3219 15.1883 26.3219 14.0469C26.3219 12.9055 25.8774 11.8332 25.0698 11.0238C24.2625 10.2145 23.1884 9.77188 22.0469 9.77188C20.9055 9.77188 19.8333 10.2164 19.0238 11.0238C18.2164 11.8312 17.7719 12.9054 17.7719 14.0469C17.7719 15.1882 18.2163 16.2604 19.0238 17.0698C19.0238 17.0699 19.0239 17.0699 19.0239 17.07M22.0469 18.3219V18.4219C20.8789 18.4219 19.7813 17.9668 18.9531 17.1406L19.0239 17.07M22.0469 18.3219C20.9056 18.3219 19.8333 17.8774 19.0239 17.07M22.0469 18.3219L19.0239 17.07' fill='white' stroke='white' stroke-width='0.2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_744_859' x1='1.41279e-07' y1='17.2222' x2='186.974' y2='14.7195' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E27582'/%3E%3Cstop offset='1' stop-color='%23EAA07B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.common {
    position: relative;
    width: 17px;
    height: 548px;
    left: 0px;
    top: 155px;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, #3DB1EC 0%, #62D1E5 152.17%);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 548' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 8.5C17 13.1944 13.1944 17 8.5 17C3.80558 17 0 13.1944 0 8.5C0 3.80558 3.80558 0 8.5 0C13.1944 0 17 3.80558 17 8.5ZM17 135.5C17 140.194 13.1944 144 8.5 144C3.80558 144 0 140.194 0 135.5C0 130.806 3.80558 127 8.5 127C13.1944 127 17 130.806 17 135.5ZM8.5 243C13.1944 243 17 239.194 17 234.5C17 229.806 13.1944 226 8.5 226C3.80558 226 0 229.806 0 234.5C0 239.194 3.80558 243 8.5 243ZM7 24C7 22.8954 7.89543 22 9 22C10.1046 22 11 22.8954 11 24V120C11 121.105 10.1046 122 9 122C7.89543 122 7 121.105 7 120V24ZM8.5 548C13.1944 548 17 544.194 17 539.5C17 534.806 13.1944 531 8.5 531C3.80558 531 0 534.806 0 539.5C0 544.194 3.80558 548 8.5 548ZM7 374C7 372.895 7.89543 372 9 372C10.1046 372 11 372.895 11 374V524C11 525.105 10.1046 526 9 526C7.89543 526 7 525.105 7 524V374ZM9 149C7.89543 149 7 149.895 7 151V219C7 220.105 7.89543 221 9 221C10.1046 221 11 220.105 11 219V151C11 149.895 10.1046 149 9 149ZM17 357.5C17 362.194 13.1944 366 8.5 366C3.80558 366 0 362.194 0 357.5C0 352.806 3.80558 349 8.5 349C13.1944 349 17 352.806 17 357.5ZM9 248C7.89543 248 7 248.895 7 250V341C7 342.105 7.89543 343 9 343C10.1046 343 11 342.105 11 341V250C11 248.895 10.1046 248 9 248Z' fill='url(%23paint0_linear_744_1348)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_744_1348' x1='8.5' y1='0' x2='8.5' y2='548' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233DB1EC'/%3E%3Cstop offset='0.945602' stop-color='%2362D1E5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}